* {
    padding: 0;
    margin: 0;
    touch-action: none;
}

#game {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#gameStart {
    width: 100%;
    height: 100%;
    background: url(../images/title.png) no-repeat 50% 20%
    ,           url(../images/background.jpg)            
    ;
    position: relative;
}

#gameStart #tips {
    width: 100%;
    height: 100%;
    display: block;
    background: url(../images/tips.jpg) no-repeat center / contain, #737373;
    position: absolute;
    z-index: 999;
    opacity: 0.8;
}

#gameStart #play {
    width: 100px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #fff;
    line-height: 50px;
    display: block;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#gameEnter {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../images/background.jpg);
    display: none;
}

#gameEnter #myPlane {
    width: 99px;
    height: 124px;
    background: url(../images/hero.gif) no-repeat 100% / 100%;
    position: absolute;
    cursor: pointer;
    left: calc(50% - 49.5px);
    bottom: 0;
}

#gameEnter #bullets,
#gameEnter #enemys {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#gameEnter #bullets .b {
    width: 9px;
    height: 21px;
    position: absolute;
    left: calc(50% - 3px);
    bottom: 135px;
}

#gameEnter #enemys .e {
    position: absolute;
}